body{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    color: blue;
}

.tc-white{
    color: white;
}

.tf-LucidiaSans{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center{
    text-align: center;
}

.s18{
    text-size-adjust: 18px;
}

.enzo{
    text-align: right
}