


.background-blue{
    Background-color: rgba(0, 153, 255, 0.5);
}

.background-black{
    background-color: black;
}

.tc-white{
    color: white;
}

.tf-LucidiaSans{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center{
    text-align: center;
}

.s18{
    text-size-adjust: 18px;
}

.enzo{
    text-align: right
}